
.main-game{
    margin: 0 auto;
    text-align: center;
    border: none;
}

.main-game tr{
    width: 450px;
    height: 150px;
}

.main-game tr td{
    width: 150px;
    height: 150px;
    border: solid 2px #333333;
    text-align: center;
}

#surrender-button{
	display: block;
	margin: 10px auto 10px auto;
}

.hidden{
    display: none;
}

#result-box
{
    background: aliceblue;
    position: fixed;
    height: 200px;
    width: 400px;
    margin: 0 auto;
    left: 36%;
    border: 1px solid black;
    text-align: center;
    padding: 50px;
}
